<div class="container">
    <div class="btn-toolbar justify-content-between" role="toolbar">
        <div class="input-group" role="group">
            <h1>Collected pokemons</h1>
        </div>
        <div class="input-group">
            <button type="button" (click)="onLogOut()" routerLink="/login" class="btn btn-outline-danger">Log Out</button>
        </div>
    </div>
    <ng-container *ngIf="notEmpty !== true">
        <h3>No pokemons collected</h3>
    </ng-container>
    <div class="container" >
        <ul class="pokemon-card">
            <li *ngFor="let poke of collectedPokemons" [routerLink]="poke.name">
                <div class="card">
                    <img class="card-img-top" [src]="poke.image" [alt]="poke.name">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ poke.name.toUpperCase() }}</h5>
                        <button class="btn btn-primary">Details</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>