<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-8">
      <h1>Collected pokemons</h1>
    </div>
    <div class="col-6 col-md-4">
      <ul class="user-details">
        <li>
          <p class="text-left">User: {{ username }} </p>
        </li>
        <li>
          <button type="button" (click)="onLogOut()" routerLink="/login" class="btn btn-outline-danger">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
  <ng-container *ngIf="notEmpty !== true">
    <h3>No pokemons collected</h3>
  </ng-container>
  <div class="container">
    <ul class="pokemon-card">
      <li *ngFor="let poke of collectedPokemons" [routerLink]="poke.name">
        <div class="card">
          <img class="card-img-top" [src]="poke.image" [alt]="poke.name">
          <div class="card-body">
            <h5 class="card-title text-center text-capitalize">{{ poke.name }}</h5>
            <button class="btn btn-primary">Details</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
