<div class="container" >
    <h2>Pokemon Details</h2>
    <ng-container *ngIf="pokemon">
        <aside>
            <img [src]="pokemon.image" [alt]="pokemon.name">
        </aside>
        <div class="btn-group-vertical m-4">
            <button (click)="onClickTrainerPage()">Go to my trainer page</button>
            <button (click)="onClickPokemonCatalogue()" >Go to pokemon catalogue</button>
            <button [disabled]="isCollected" (click)="addToCollection()">Collect pokemon</button> 
          </div>

        <article>
            <h3>Name: {{ pokemon.name.toUpperCase() }}</h3>
            <h4>Types</h4>
            <ul>
                <li *ngFor="let type of pokemon.types">
                  {{type.type.name}}
                </li>
              </ul>
            <h4>Base Stats</h4>
            <ul>
                <li *ngFor="let stat of pokemon.stats">
                  {{stat.stat.name}}: {{stat.base_stat}}
                </li>
              </ul>
        </article>
        <article>
            <h4>Profile</h4>
            <p>Height: {{ pokemon.height }}</p>   
            <p>Weight: {{ pokemon.weight }}</p>
            <p>Abilities:</p>
            <ul>
                <li *ngFor="let ability of pokemon.abilities">
                  {{ability.ability.name}}
                </li>
            </ul>
            <p>Base Experience: {{ pokemon.base_experience }}</p>
        </article>
        <article>
            <h4>Moves</h4>
            <ul>
                <li *ngFor="let move of pokemon.moves">
                    {{move.move.name}}
                </li>
            </ul>
        </article>
    </ng-container>
</div>